.banner nav{
  display: inline-block;
  clear: right;
}
.profile{
  float: right;

}
.profile-links{
  color: pink;
  text-transform: uppercase;    
}
.men,.girls,.boys,.customize{
  color: orange;
  text-decoration: none;
  text-transform: uppercase;
}
.woman{
  color: maroon;
  text-decoration: underline;
  background-blend-mode: pink;
  text-transform: uppercase;    
}

.section_1{
background-color: medium violetred;
background: radial-gradient(circle at 20% 40%, tomato 20%, orange 80%, gray);
color: white;
}
.shoe_1{
  height:200px;
  weight: 100px;
  float: left;
  clear:left;
}

.section_1{ // make you code simple
color: white;
text-transform: uppercase;
}

.back-to-shoe-link{
text-decoration: none;
color: white;
text-align: center;
}

.text_section1{
  margin-left: 500px;
  line-height: 1.5;
}

.section_3{
  background-color: red;
  color: white;   
  background-color: medium violetred;
  background: radial-gradient(circle at 20% 40%, tomato 20%, orange 80%, gray);
  text-align: auto;
  padding-right: 600px;
  padding-left:  250px;
  font-size: 20px; 
}
.shoe_formatt{
    height:250px;
    width: 250px;       
}
.table{

    
}

.shoe-header{
    background-color: bisque; 
}

footer{
  float: right;
  font-size:10px;    
  bottom: 3;
  display: inline-block;
  position: relative;        
}




/*.funny-sneaker-link {
  display: block;

}
.shoe1-block{
  clear:right;
  display: inline-block;

}

.shoe2-block{
  float: right;
  display: inline-block;
  clear:right;
  text-align: center;
}
.shoe3-block{


}

#company{
    float: right;
    postion: relative:
    font-size:10px;

}
*/
/*footer{
  position: relative;
  bottom: 3;
}*/

.buy-button{
  text-align: center;
  text-transform:uppercase;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
  font color:bisque;
}
